<!-- navbar.html -->
<nav class="bg-white shadow fixed top-0 w-full z-50">
    <div class="max-w-6xl mx-auto px-4">
      <div class="flex justify-center space-x-4 py-4">
        <a href="./index.html" class="px-4 py-2 rounded-full bg-blue-500 text-white hover:bg-blue-600">Home</a>
        <a href="./skill.html" class="px-4 py-2 rounded-full hover:bg-gray-200">Skill</a>
        <a href="./portfolio.html" class="px-4 py-2 rounded-full hover:bg-gray-200">Portfolio</a>
        <a href="./contact.html" class="px-4 py-2 rounded-full hover:bg-gray-200">Contatti</a>
      </div>
    </div>
  </nav>
  